<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../fontawesome-free-6.0.0-web/css/all.min.css">
    <title>Netflix</title>
</head>
<body>
    <div class="fundoLogin">
        
        <nav>
            <div class="navLogin">
                Netflix
            </div>
        </nav>

        <section>
            <div class="cardLogin">
                <h1>Entrar</h1>
                <div class="inputFormularioLogin">
                    
                </div>
            </div>
        </section>
    </div>
</body>
</html>