<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">

    <title>Netflix</title>
</head>
<body>
    <div class="section">        
        <div class="nav">
            <h2 id="logo">NETFLIX</h2>
        </div>
        <div class="titulo">
            <h1>Quem está assistindo ?</h1>
        </div>
        <a class="perfil">
            <div class="conjuntoPerfil">
                <div class="imagemPerfil">
                    <img src="../imagens/perfil.png" alt="imagem perfil" id="imgPerfil">
                </div>
                <div class="nomePerfil">
                    <span>Bagahnar</span>
                </div>
            </div>
            <div class="conjuntoPerfil">
                <div class="imagemPerfil">
                    <img src="../imagens/perfil2.png" alt="imagem perfil" id="imgPerfil">
                </div>
                <div class="nomePerfil">
                    <span>Xaiurrond</span>
                </div>
            </div>
            <div class="conjuntoPerfil">
                <div class="imagemPerfil">
                    <img src="../imagens/perfil3.png" alt="imagem perfil" id="imgPerfil">
                </div>
                <div class="nomePerfil">
                    <span>Zovarid</span>
                </div>
            </div>
            <div class="conjuntoPerfil">
                <div class="imagemPerfil">
                    <img src="../imagens/perfil4.png" alt="imagem perfil" id="imgPerfil">
                </div>
                <div class="nomePerfil">
                    <span>Liral</span>
                </div>
            </div>
            <div class="conjuntoPerfil">
                <div class="imagemPerfil">
                    <img src="../imagens/perfil.png" alt="imagem perfil" id="imgPerfil">
                </div>
                <div class="nomePerfil">
                    <span>Higash</span>
                </div>
            </div>
        </a>
        
        <div class="botao">
            <button id="btnPerfil">Gerenciar perfis</button>
        </div>
    </div>
</body>
</html>